body {
    margin: 0;
    padding: 0;
}

.nome0{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    margin-left: 45px;
}


.toolbar .nome a {
    text-decoration: none;
    color: #000000;
}

.toolbar .nome {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    padding: 25px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar_options{                                                                                       
    font-size: 16px;
    margin-right: 25px;                                                         
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

}

.toolbar_options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toolbar_options li {
    display: inline-block;
}

.toolbar_options li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.toolbar_options li a:hover {
    background-color: #65974c;
    color: #FFFFFF;
}

.textoapresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0.95;
    margin-left: 255px;
    margin-top: 155px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}


.textoapresentacao:hover {
    background-color: #65974c;
    color: #FFFFFF;
}

.textoapresentacao:hover h1 {
    color: #FFFFFF;
}


.textoapresentacao strong {
    padding: 5px 15px;
    position: relative;
    top: -14px;
}

.presentation {
    background-image: url(img/dra.jpg);
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: left;
}


.presentation .textoapresentacao p, h1{
    margin: 15px;
}

.textoapresentacao h1 {
    font-family: 'Poppins', sans-serif;  
    align-items: center;
    color: #000000;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}


.textoapresentacao p{
    font-family: 'Poppins', sans-serif;  
    text-align: justify;
    font-size: 17px;
}

.img a{
    text-decoration: none;
    color: #000000;
    height: 350px;
}




.entradaemail{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 600px;
    padding-right: 600px;
}

.formulario{
    display: flex;
    align-items: center;
}

.caixaentrada{
    display: flex;
    flex-direction: column;
    background-color: #e3ecf3;
    font-family: 'Poppins', sans-serif;  
    align-items: center;
    padding-bottom: 55px;
    padding-top: 25px;
}

.email{
    background-color: #FFFFFF;
    height: 35px;
    width: 500px;
}

.botao{
    height: 41px;
    background-color: #FFFFFF;
    color: #000000;
}


.reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 70px;
}

#re{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;  
    padding: 30px;
    border-radius: 30px;
    background-color: #EFEFEB;
    
}

#re img{
    max-width: 40%;
    border-radius: 100%;
}

#re p{
    line-height: 30px;
    font-size: 17px;
    text-align: justify;
    padding: 10px;
}

#re h1{
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
